@mixin body_reset {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

@mixin bg-reset {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin list-reset {
  list-style: none;
}

@mixin link-reset {
  cursor: pointer;
  text-decoration: none;
}
