@use "../genetics" as *;

main {
  width: 100vw;
}
//////////////// first section //////////
section.explore-m {
  @include columns;
  @include bg-reset;
  background-image: url(/images/faded-bg.png);
  width: 100vw;
  height: 85vh;
  margin-bottom: 5vh;
  div.cont-pitch {
    @include full;
    grid-column: 1 / span 6;
    @include rows;
    justify-items: stretch;
    width: 100%;
  }
}

h2 {
  @include h-2;
  &.choose {
    grid-row: 4 / span 1;
    margin: 0;
    padding: 0;
    text-align: start;
  }
}

p {
  @include p-graph;
  &.pitch {
    grid-row: 5 / span 2;
    padding: 0;
    margin: 0;
  }
}

button.button {
  @include btn;
  grid-row: 7 / span 1;
  width: 40%;
}
a.link {
  @include a-link;
}

// images//
div.cont-img-m {
  grid-column: 8 / span 5;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  width: 40%;
  justify-content: space-evenly;
  height: 66vh;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 5vh;
  .img1-explore {
    object-fit: cover;
  }
  .img2-explore {
    object-fit: cover;
  }
}

img.img-ex {
  @include full;
}
//////////////// second section //////////

section.links-m {
  height: 33vh;
  @include columns;
  margin-bottom: 2vh;

  ///// curved lines////
  div.father-lines-m {
    grid-column: 3 / span 8;
    position: sticky;
    z-index: 1;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5vh;
    flex-direction: row;
    flex-wrap: nowrap;
    div.curved-line {
      width: 100%;
      height: 77%;
      border: solid 3px $grayLight;
      border-color: $grayLight transparent transparent transparent;
      border-radius: 50%/100px 100px 0 0;
      padding: 13px;
      opacity: 0.4;
    }
  }
}

////icon links////
div.father-links-m {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  div.icon-text {
    color: $blueLight;
    @include center;
    &.red {
      color: tomato;
    }
    i.fas.fa-search {
      font-size: 8vh;
    }
    i.far.fa-check-circle {
      font-size: 8vh;
    }
    i.far.fa-thumbs-up {
      font-size: 8vh;
    }
  }
}

//////////////// third section //////////
section.booking-m {
  @include bg-reset;
  height: 53vh;
  width: 100vw;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  &.house {
    background-image: url(/images/modern-house-bg.jpg);
    flex-direction: row;
  }
  &.cliff {
    background-image: url(/images/background-cliff.png);
    flex-direction: row-reverse;
  }
  div.cont-book {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    div.text-book {
      opacity: 0.9;
      margin: 0;
      padding: 3vh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      background-color: $grayDark;
    }
  }
}

////////
section.review-m {
  @include bg-reset;
  background-color: $grayDark;
  @include viewp;
  div.cont-review {
    @include center;
    width: 100%;
    div.father-card-r {
      width: 80%;
      @include center;
      img.dude {
        width: 20vw;
        height: 15vh;
        object-fit: contain;
      }
      div.text-card-r {
        @include center;
      }
    }
  }
}
h4 {
  @include h-4;
}
